<footer>
   <div class="foot">
    <div class="socal">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="company">
       <P> Wanderlust Pvt Lmt.</P>
    </div>
    <div class="condition">
        <a href="#">Terms</a>
        <a href="#">condition</a>
    </div>
   </div>
</footer>